@font-face {
  font-family: "fjalla_oneregular";
  src: url("webfont/fjallaone-regular-webfont.woff2") format("woff2"),
    url("webfont/fjallaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "pallybold";
  src: url("webfont/pally-bold-webfont.woff2") format("woff2"),
    url("webfont/pally-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: grid;
  color: white;
  font-family: "fjalla_oneregular", Arial, Helvetica, sans-serif;
  justify-content: center;
}

#container {
  display: grid;
  justify-content: center;
}
#title {
  font-size: 90px;
  text-align: center;
  color: #333333;
  text-shadow: 1px 1px 2px #da6d6d;

  /* text-shadow: 0 0 50px #6ae75c80; */

  /* Example 3: Multiple shadows */
  /* text-shadow: 2px 2px 5px #333333, 0px 0px 0px rgb(245, 198, 198); */
  margin-bottom: 15px;
}

#quote-div {
  display: grid;
  border-radius: 25px;
  border: 5px solid #4f3f3f;
  padding: 25px;
  max-width: 1000px;
  min-height: 450px;
  min-width: 400px;
  background-color: #f5eeee;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px #090909;
  margin: 10px 0px;
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

#qoute {
  font-size: 45px;
  padding-left: 35px;
  font-family: "fjalla_oneregular", Arial, Helvetica, sans-serif;
  font-weight: 200px;
  margin-bottom: 0px;
  color: #333333;
}

#qoute-by {
  text-align: center;
  font-size: xx-large;
  padding-right: 10px;
  margin-right: 10px;
  color: #b31b1b;
}

#quest-btn {
  margin-top: 35px;
  font-size: 35px;
  justify-self: center;
  border-radius: 15px;
  min-width: 425px;
  font-family: "fjalla_oneregular", Arial, Helvetica, sans-serif;
  background-color: #333333;
  color: white;
  padding-bottom: 5px;
}

#quest-btn:hover {
  background-color: #b31b1b;
  text-shadow: 2px 2px 5px #333333, 2px 2px 1px black;
}
